<div>
  <p><%= recommendation.message %></p>
  <p><%= recommendation.product_url %></p>
  <p><%= link_to "Recommendation",recommendation_path(recommendation.id) %></p>

  <div>
     <% if current_page?(action: "outbox")%>
        <a href="#">Delete</a>
    <% else %>
        <a href="#">Respond</a>
        <a href="#">Shop</a>
        <a href="#">Save for later</a>
    <% end %>
  </div>
</div>