<div class="row spacer">
  <div class="small-8 medium-6 large-5 small-centered columns">
    <div class="header panel">
      <div class="sign">
      <h1>Outbox</h1>
      <h3>Recommended by you. </h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
<%= render current_user.recommendations_as_sender %>
</div>
