
<div class="row spacer">
  <div class="small-8 medium-6 large-5 small-centered columns">
    <div class="header panel">
      <div class="sign">
      <h1>The community</h1>
      <h3>Find the username and recommend</h3> 
      </div>
    </div>
  </div>
</div>
<div class="row">
  <%= render @users %>
</div>
