
  <div class="hero">

  <div class="row spacer" >
    <div class="medium-12 columns"><hr></div>
  </div>

    <div class="row spacer">
      <div class="medium-4 columns"><h4>Mudita</h4></div>
      <div class="medium-4 columns"></div>
      <div class="medium-4 columns"><h5>"I saw this and thought of you..."</h5> </div> 
   </div>

    <div class="row spacer">
      <div class="medium-6 columns"><h5>When we can be happy of the joys other beings feel, it is called mudita</h5></div>
      <div class="medium-4 columns"><h5>"I saw this and thought of you..."</h5> </div> 
   </div>


    <div class="row spacer" >
      <div class="medium-12 columns"><hr></div>
    </div>

  </div>
