<div class="home">

<div class="row">
  <div class="medium-8 columns">
  </div>
  <div class="medium-4 columns">
     <h1 id="logo">Mudita</h1> 
  </div> 
</div>

  <div class="row">
    <div class="medium-12 columns">
       <h2>When we can be happy of the joys that other beings feel.</h2>
       <p>Virtual <em>"I saw this and thought of you..."</em> moments saved in one place.
       Capture the product pages of items that you think will suit a friend. Like it? Upload a photo of your new look as a thank you... </p>
    </div> 
  </div>


</div>