<div class="home">

<div class="row">
  <div class="medium-8 columns">
  </div>
  <div class="medium-4 columns">
     <h1 id="logo">Mudita</h1> 
  </div> 
</div>

  <div class="row">
    <div class="medium-12 columns">
       <h2>Shopping online with friends.</h2>
       <p>Capture the product pages of items that you think will suit a friends' style.</p>
       <p>Virtual <em>"I saw this and thought of you..."</em> moments stored in one place.</p>
       <p>If you like it, upload a photo of your new look as a thank you! </p>
    </div> 
  </div>


</div>