<div class="home">
  <div class="row">
    <div class="medium-2 medium-centered columns">
    </div>

    <div class="medium-10 columns">
       <h2>Mudita makes shopping online sociable.</h2>
       <p>Share links to items that remind you of your friends, that you think will look good on them.</p>
       <p>All the <em>"I saw this and thought of you..."</em> moments stored in one place.</p>
       <p>If you like it, upload a photo of your new look as a thank you! </p>

    </div> 
  </div>

</div>