
  <div class="hero">
  
  <div class="row ad-block">
    
    <div class="medium-12 medium-push-6 columns">
  <h4>Mudita</h4>
    </div>
    
    <div class="medium-6 medium-pull-6 columns">
      

    </div>
    
  </div>
  
  <div class="row ad-block">
    
    <div class="medium-6 columns">
     <h5>"I saw this and thought of you..."</h5> 
    </div>
    
    <div class="medium-6 columns">
     <h5>When we can be happy of the joys other beings feel, it is called mudita</h5>
    </div>
    
  </div>
  


  </div>