<div class="landing-page">
<br />
<br />

<div class="row">
  <div class="small-6 small-centered columns">
    
    <div class="service">
      <div class="service-icon-box">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </div>
      <h4 class="service-heading" id="logo"><%= link_to "Mudita", home_path %></h4>
      <p class="service-description">When we can be happy of the joys that other beings feel, it is called Mudita.</p>
    </div>
    
  </div>
</div>

 
</div>
  