// Default Colour Palette
// Red: HTML code:  #F21D19
// Black;HTML code:  #0C140F
// Tan: HTML code:  #BF9075
// Sea:HTML code:  #B9BDC0
// Bag HTML code:  #DFC8BB
// Light Cream  HTML code:  ##E1DAD7

$body-background-color: #E2D5CD;
$nav-background-color:  #F21D19;

$nav-font-family: 'Josefin Sans', sans-serif;
$home-font-family: 'Zeyada', cursive;

$font-color: #0C140F;
$hover-color: #DFC8BB;

