//#252044; navy
$body-background-color: #E2D5CD;
$nav-background-color:  #E2D5CD; 
$form-background-color: #fff;
$pink:#D8A0BA;
$navy:#252044;

// $landing-page-color:
$form-border-color: #444;
$footer-background-color: #444;

$nav-font-family: 'Josefin Sans', sans-serif;
$home-font-family: 'Zeyada', cursive;
$username-font-family:'Avenir Next';
$username-font: 0.1rem,'Avenir Next';


$font-color: #D8A0BA;
$hover-color: #DFC8BB;
$sign-link-color:#666;

$border: 2px solid #444;

