@import "variables";
//For Edit page
.header.panel {
  #edit {
    color:$sign-link-color;
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
    padding-top: 15px;
  }
}

#form {

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid $pink;
    padding: 0px;
  }

  font-family:'Avenir Next';
  h5 {
    text-transform: uppercase;
    font: bolder 0.875rem "Avenir Next";
    letter-spacing: 3px;
    color: #666;
    font-size: 70%;
    line-height: 2rem;
    text-align: center;
  }
  h5 > a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  h5 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover h5 > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }




}