@import "variables";


.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // padding: 20px;
  z-index: 1;
  background-color: $body-background-color;

  em {
    color: $brand-colour;
  }
  h1 {
    color: $brand-colour;
    text-align: center;
    font-family:$nav-font-family;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
    color: $navy;
    font-family:$nav-font-family;
  }
}




