@import "variables";


  .fa fa-arrows-h
   {
    color: $pink;
   }
  #logo {
    font-family:$username-font-family;
    font-size: 50px;
    color: $navy;
    text-align: center;
    margin-top: 15%;
  }
