@import "variables";

.header.panel p {
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    font-family:$nav-font-family;
}

.profile {


  h1 {
    font-family: $nav-font-family;
  }


  h5,h6 {
    text-transform: uppercase;
    font: bolder 0.875rem "Avenir Next";
    letter-spacing: 3px;
    color: #666;
    font-size: 70%;
    line-height: 2rem;
    text-align: center;
  }

  h4 {
    text-transform: uppercase;
    font: bolder 0.875rem "Avenir Next";
    letter-spacing: 3px;
    color: #666;
    font-size: 70%;
    line-height: 2rem;
    text-align: left;
  }

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #f0f;
    padding: 0px;
  }

  .spacer {
    margin-bottom: 10px;
  }

  h4 > a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  h4 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover h4 > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  h5 > a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  h5 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover h5 > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}