@import "variables";
   
#welcome {

  background-color: none;
  h1 {
    font-family:$home-font-family;
  }
}

nav {
  background-color: $nav-background-color;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }

  li { 
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    font-family: $nav-font-family;
  }

  a {
     color: $font-color;
  }

  a:hover {
    color: $hover-color;
  }

}

body {
  background: $body-background-color;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
}




